<div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="title">
          Campeonato de Filmes
        </h1>
      </div>
      <div class="col-12">
        <h3 class="header">
          <b>Fase de Seleção</b>
          <br>
          Selecione 8 filmes que você deseja que entrem na competição
          e depois pressione o botão "Gerar Meu Campeonato" para prosseguir.
        </h3>
      </div>
    </div>
  </div>
  <img class="popcorn-image" src="../assets/images/popcorn.png" alt="">
</div>