.title{
    font-family: 'Satisfy', cursive;
    color: whitesmoke;
    font-size: 100px;
    margin: 15px;
}

.header{
    font-family: 'Satisfy', cursive;
    color: whitesmoke;
}

.popcorn-image{
    float: right;
}
