<div class="col-12">
  <h3 class="header">
    <b>Fase de Seleção</b>
    <br>
    Selecione 8 filmes que você deseja que entrem na competição
    e depois pressione o botão "Gerar Meu Campeonato" para prosseguir.
  </h3>
</div>
<div class="col-12">
  <form [formGroup]="selectMoviesForm" (ngSubmit)="onSubmit()" *ngIf="selectMoviesForm" class="row movies-body">
    <div class="col-12">
      <button type="submit" class="btn btn-danger">Gerar Meu Campeonato</button>
    </div>
    <div class="col-12" class="errorMessage" *ngIf="numCheckedError">
      Por favor, selecione 8 filmes para a disputa.
    </div>
    <div class="col-12">
      Selecionados {{selectedMovies.size}} de {{maxSelected}}.
    </div>
    <div class="col-3 movie-card" *ngFor="let movie of movies.controls let i=index">
      <div class="card" style="width: 16rem;height: 8rem;">
        <div class="card h-100 card-body">
          <h5 class="card-title">
            <input type="checkbox" [formControl]="movie" (change)="onChange(allMovies[i], $event)">
            {{allMovies[i].title}}
          </h5>
          <p class="card-text">{{allMovies[i].year}}</p>
        </div>
      </div>
    </div>
  </form>
</div>